# Sqlite Sql

ComeÃ§ando por carregar o sql no notebook

In [2]:
!pip install ipython-sql
%load_ext sql

Collecting ipython-sql
  Using cached ipython_sql-0.5.0-py3-none-any.whl.metadata (17 kB)
Collecting prettytable (from ipython-sql)
  Downloading prettytable-3.11.0-py3-none-any.whl.metadata (30 kB)
Requirement already satisfied: ipython in f:\apps\source\repos\24.2\pbe_24.2_8001\.venv\lib\site-packages (from ipython-sql) (8.28.0)
Collecting sqlalchemy>=2.0 (from ipython-sql)
  Downloading SQLAlchemy-2.0.36-cp310-cp310-win_amd64.whl.metadata (9.9 kB)
Collecting sqlparse (from ipython-sql)
  Using cached sqlparse-0.5.1-py3-none-any.whl.metadata (3.9 kB)
Requirement already satisfied: six in f:\apps\source\repos\24.2\pbe_24.2_8001\.venv\lib\site-packages (from ipython-sql) (1.16.0)
Collecting ipython-genutils (from ipython-sql)
  Using cached ipython_genutils-0.2.0-py2.py3-none-any.whl.metadata (755 bytes)
Requirement already satisfied: typing-extensions>=4.6.0 in f:\apps\source\repos\24.2\pbe_24.2_8001\.venv\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.12.2)
Collecting greenlet!=0.4.17 (from sqlalchemy>=2.0->ipython-sql)
  Downloading greenlet-3.1.1-cp310-cp310-win_amd64.whl.metadata (3.9 kB)
Requirement already satisfied: decorator in f:\apps\source\repos\24.2\pbe_24.2_8001\.venv\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in f:\apps\source\repos\24.2\pbe_24.2_8001\.venv\lib\site-packages (from ipython->ipython-sql) (0.19.1)
Requirement already satisfied: matplotlib-inline in f:\apps\source\repos\24.2\pbe_24.2_8001\.venv\lib\site-packages (from ipython->ipython-sql) (0.1.7)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in f:\apps\source\repos\24.2\pbe_24.2_8001\.venv\lib\site-packages (from ipython->ipython-sql) (3.0.48)
Requirement already satisfied: pygments>=2.4.0 in f:\apps\source\repos\24.2\pbe_24.2_8001\.venv\lib\site-packages (from ipython->ipython-sql) (2.18.0)
Requirement already satisfied: stack-data in f:\apps\source\repos\24.2\pbe_24.2_8001\.venv\lib\site-packages (from ipython->ipython-sql) (0.6.3)
Requirement already satisfied: traitlets>=5.13.0 in f:\apps\source\repos\24.2\pbe_24.2_8001\.venv\lib\site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: exceptiongroup in f:\apps\source\repos\24.2\pbe_24.2_8001\.venv\lib\site-packages (from ipython->ipython-sql) (1.2.2)
Requirement already satisfied: colorama in f:\apps\source\repos\24.2\pbe_24.2_8001\.venv\lib\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: wcwidth in f:\apps\source\repos\24.2\pbe_24.2_8001\.venv\lib\site-packages (from prettytable->ipython-sql) (0.2.13)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in f:\apps\source\repos\24.2\pbe_24.2_8001\.venv\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.4)
Requirement already satisfied: executing>=1.2.0 in f:\apps\source\repos\24.2\pbe_24.2_8001\.venv\lib\site-packages (from stack-data->ipython->ipython-sql) (2.1.0)
Requirement already satisfied: asttokens>=2.1.0 in f:\apps\source\repos\24.2\pbe_24.2_8001\.venv\lib\site-packages (from stack-data->ipython->ipython-sql) (2.4.1)
Requirement already satisfied: pure-eval in f:\apps\source\repos\24.2\pbe_24.2_8001\.venv\lib\site-packages (from stack-data->ipython->ipython-sql) (0.2.3)
Using cached ipython_sql-0.5.0-py3-none-any.whl (20 kB)
Downloading SQLAlchemy-2.0.36-cp310-cp310-win_amd64.whl (2.1 MB)
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
   ---------------------------------------- 2.1/2.1 MB 38.9 MB/s eta 0:00:00
Using cached ipython_genutils-0.2.0-py2.py3-none-any.whl (26 kB)
Downloading prettytable-3.11.0-py3-none-any.whl (28 kB)
Using cached sqlparse-0.5.1-py3-none-any.whl (44 kB)
Downloading greenlet-3.1.1-cp310-cp310-win_amd64.whl (298 kB)
Installing collected packages: ipython-genutils, sqlparse, prettytable, greenlet, sqlalchemy, ipython-sql
Successfully installed greenlet-3.1.1 ipython-genutils-0.2.0 ipython-sql-0.5.0 prettytable-3.11.0 sqlalchemy-2.0.36 sqlparse-0.5.1

In [3]:
%sql sqlite:///contatos.db

In [4]:
%%sql

CREATE TABLE CLIENTES (
    CLIENTE_ID INTEGER PRIMARY KEY,
    NOME TEXT NOT NULL,
    EMAIL TEXT NOT NULL UNIQUE,
    TELEFONE TEXT NOT NULL UNIQUE
);

 * sqlite:///contatos.db
Done.

[]

In [5]:
%%sql

INSERT INTO CLIENTES (NOME, EMAIL, TELEFONE) 
VALUES
    ('Leonardo' , 'leonardo@gmail.com', '9999-9999' ),
    ('Rafael' , 'rafael@gmail.com', '9889-8998' ),
    ('Michelangelo' , 'michelangelo@gmail.com', '9997-7999' ),
    ('Donatello' , 'donatello@gmail.com', '9777-7779' );

 * sqlite:///contatos.db
4 rows affected.

[]

In [7]:
%%sql

SELECT * FROM CLIENTES

 * sqlite:///contatos.db
Done.

[(1, 'Leonardo', 'leonardo@gmail.com', '9999-9999'),
 (2, 'Rafael', 'rafael@gmail.com', '9889-8998'),
 (3, 'Michelangelo', 'michelangelo@gmail.com', '9997-7999'),
 (4, 'Donatello', 'donatello@gmail.com', '9777-7779')]